doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Aman Kumar | Software Developer Engineer")
        meta(property="og:title" content="Aman Kumar | Software Developer Engineer")
        meta(property="og:url" content="amankumar06.netlify.app")
        meta(property="og:description" ontent=`A passionate Software Developer Engineer from India.`)
        meta(property="og:image" content="https://res.cloudinary.com/dbvthtwhc/image/upload/v1647188213/portfolio/Portofolio.png")
        meta(property="article:publisher" content="amankumar06.netlify.app")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@amankumar062")
        meta(name="twitter:title" content="Aman Kumar | Software Developer Engineer")
        meta(name="twitter:description" content=`A passionate Software Developer Engineer from India.`)
        meta(name="twitter:url" content="amankumar062.netlify.app")
        meta(name="author" content="Aman Kumar")
        meta(name="description" content=`A passionate Software Developer Engineer from India.`)

        //- Icon
        link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png")
        link(rel="manifest" href="/assets/favicon/manifest.json")

        //- Stylesheet
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css")
        link(rel="stylesheet" type="text/css" href="style/style.css")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        //- Baffle
        script(src="https://cdnjs.cloudflare.com/ajax/libs/baffle.js/0.2.1/baffle.min.js")

        title Aman Kumar | Software Developer Engineer

    body
        //- Variables
        - let year = new Date();
        - let resumeLink = "https://drive.google.com/file/d/1wsPXnbW7Z8yemonXJOcscBXwodkomtt3/view?usp=sharing";

        noscript You need to enable JavaScript to run this app.

        #loader 
            p Welcome

        #particles-js
            nav.navBar
                .logo
                    h2 
                        pre <𝒜𝓂𝒶𝓃 𝒦𝓊𝓂𝒶𝓇/>

                ul.nav-links
                    li
                        a.about About 
                    li
                        a.experience Experience
                    li
                        a.projects Projects
                    li
                        a.skills Skills
                    li
                        a.contact Contact

                .hamBurger
                    .line1
                    .line2
                    .line3

            .intro
                div
                    p.para
                        | Hello, I'm 
                        span.name Aman Kumar 
                    p.reveal Software Developer Engineer

                    .github
                        a(href="https://github.com/amankumar6") ⭐ Star Me On GitHub

        #main
            #about(data-color="0")
                .container
                    h1.header About Me
                    .content
                        //- p As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.

                        //- p Currently using technologies such as react, nodejs and mongoDB to carve a better developer out of me.

            #experience(data-color="1")
                .container
                    h1.header Experience
                    .content

            #projects(data-color="0")
                .container
                    h1.header Projects
                    .content

            #skills(data-color="1")
                .container
                    h1.header Skills
                    .content

        #contact 
            .container
                .logo
                    h2
                        pre <𝒜𝓂𝒶𝓃 𝒦𝓊𝓂𝒶𝓇/>
                .links
                    ul
                        li
                            a(href="https://www.instagram.com/amankumar062/" target="_blank") Instagram
                        li
                            a(href="https://twitter.com/amankumar062" target="_blank") Twitter 
                        li
                            a(href="https://www.linkedin.com/in/amankumar062/" target="_blank") Linkedin
                        li
                            a(href="https://github.com/amankumar6" target="_blank") GitHub

                .copywrite © #{year.getFullYear()} 
                    span Aman Kumar 

        .goToTop 
            i.fal.fa-angle-up

        //- JavaScript
        script(src="./js/content.js")
        script(src="./js/particles.min.js")
        script(src="js/particle.js") 
        script(src="js/main.js") 